<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
  <app-input label="Name" [control]="cardForm.controls['name']"></app-input>
  <app-input label="Card Number" [control]="cardForm.controls['cardNumber']"></app-input>
  <app-input label="Expiration Date (MM/YY)" [control]="cardForm.controls['expiration']"></app-input>
  <app-input label="Security Code" [control]="cardForm.controls['securityCode']"></app-input>
  <button [disabled]="cardForm.invalid" class="button is-primary">Submit</button>
  <button type="button" class="button is-warning" (click)="onReset()">Reset All</button>
</form>

<p class="container">
  Section 19: Simple Data Entry with Template Forms:
</p>


<form >
  <input
    name="email"
  >
  <!-- {{ email }} -->
</form>


<!-- [(ngModel)]="email" -->
