<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
  <app-input label="Name" [control]="cardForm.controls['name']"></app-input>
  <app-input label="Card Number" [control]="cardForm.controls['cardNumber']"></app-input>
  <app-input label="Expiration Date (MM/YY)" [control]="cardForm.controls['expiration']"></app-input>
  <app-input label="Security Code" [control]="cardForm.controls['securityCode']"></app-input>
  <button [disabled]="cardForm.invalid" class="button is-primary">Submit</button>
  <button type="button" class="button is-warning" (click)="onReset()">Reset All</button>
</form>

<hr>
<p class="container">
  Section 19: Simple Data Entry with Template Forms:
</p>


<form (ngSubmit)="submit()" #emailForm="ngForm">
  <input
    class="input"
    type="email"
    pattern=".+@.+\..+"
    required
    name="email"
    [(ngModel)]="email"
    #emailControl="ngModel"
  >
  <!-- <ng-container *ngIf="emailForm!.controls.email.invalid"> -->
  <ng-container *ngIf="emailControl.invalid && emailControl.touched">
    <small *ngIf="emailControl.errors.required">
      Email is required
    </small>
    <small *ngIf="emailControl.errors.pattern">
      This is not an email
    </small>
  </ng-container>

  <button
   class="button is-primary"

  >Submit</button>
</form>
<hr>
<p>email: {{ email }}</p>
<p>[object Object]: {{ emailForm }} <!-- [object Object] --></p>
<p>true: {{ emailForm!.valid }} <!-- true --></p>
<p>{{ emailForm!.value | json }} <!-- {} --></p>
<p>Email validations errors: {{ emailForm!.controls.email.errors | json }}</p>

