<form [formGroup]="cardForm" >
    <input type="text" formControlName="name" placeholder="Name">
    <ng-container *ngIf="cardForm.controls['name'].errors">
      <small *ngIf="cardForm!.controls!['name']!.errors!['required']">
        Value is required.
      </small>
      <small *ngIf="cardForm!.controls!['name']!.errors!['minlength']">
        Min length is {{ cardForm!.controls!['name']!.errors!['minlength'].requiredLength }} characters. You entered {{ cardForm!.controls!['name']!.errors!['minlength'].actualLength }} characters.
      </small>
    </ng-container>

    <input type="text" formControlName="surname" placeholder="Surname">
    <ng-container *ngIf="cardForm.controls['surname'].errors">
      <small *ngIf="cardForm!.controls!['surname']!.errors!['required']">
        Value is required.
      </small>
      <small *ngIf="cardForm!.controls!['surname']!.errors!['minlength']">
        Min length is {{ cardForm!.controls!['surname']!.errors!['minlength'].requiredLength }} characters. You entered {{ cardForm!.controls!['surname']!.errors!['minlength'].actualLength }} characters.
      </small>
    </ng-container>
</form>

<p>Some debugging:</p>
<div>Form Contents: {{ cardForm.value | json }}</div>
<div>Form is valid: {{ cardForm.valid }}</div>
<div>Form Contents: {{ cardForm.value.name | json }}</div>
<div>Form Contents: {{ cardForm.value.surname | json }}</div>

<p>///the same ways:</p>
<div>Errors around name: {{ cardForm!.controls!["name"].errors | json }}</div>
<div>Errors around name: {{ cardForm.get("name")!.errors | json }}</div>
