<div class="field">

  <label class="label">{{ label }}</label>

  <div class="control">
    <input
      class="input"
      [formControl]="control"
      placeholder="Name"
      [ngClass]="{ 'is-danger':
        showErrorsHalper()
      }"
    >
  </div>

  <ng-container
    *ngIf="
      showErrorsHalper()
    ">
    <small class="help is-danger" *ngIf="control.errors!['required']">
      Value is required.
    </small>
    <small class="help is-danger" *ngIf="control.errors!['minlength']">
      Min length is
      {{ control.errors!['minlength'].requiredLength }}
      characters.
      You entered {{ control.errors!['minlength'].actualLength }}
      characters.
    </small>
    <small class="help is-danger" *ngIf="control.errors!['pattern']">
     Invalid format
    </small>
  </ng-container>

</div>
